.bg-color {
    background-color: #FCEAE8;
}

.btn-color {
    background-color: #FF3D89;
    color: white;
    font-weight: bold;
}

.cetagori-img {
    height: 100px;
    width: 100px;
}

#categori-watch {
    background-color: #FFA500;
    border-radius: 10px;
}

#categori-bag {
    background-color: #DA70D6;
    border-radius: 10px;
}

#categori-shoes {
    background-color: #0000FF;
    border-radius: 10px;
}

.subscribe {
    height: 300px;
    background-color: #fceae8;
    border-radius: 10px;
}